<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>com.apple.developer.associated-domains</key>
	<array>
		<string>applinks:bvvb.app.link</string>
		<string>applinks:bvvb-alternate.app.link</string>
	</array>
	<key>com.apple.security.application-groups</key>
	<array>
		<string>group.com.3meters.patchr.ios</string>
		<string>group.com.3meters.patchr2.ios</string>
	</array>
	<key>keychain-access-groups</key>
	<array>
		<string>$(AppIdentifierPrefix)com.3meters.patchr.ios</string>
	</array>
</dict>
</plist>
